@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #61686c;
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation {
  line-height: 30px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.basket {
  line-height: 30px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.slider h2 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 600;
}